/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
  



/* General */
    html{
        background-color: #EEEEDF;

    }
    body {
        background-color: #EEEEDF;
        font-family: "JetBrains Mono", monospace;
        color: #394063;
        max-width: 2190px;
        margin: 0 auto;
    }

    .shadow{
        padding: 10px;
        box-shadow: 5px 10px 8px #888888;}
    h1{
        font-size: 24px;
    }

    h2{
        font-size: 18px;
    }

    b{
        color:#329DB8;
    }

    p{
        font-size: 14px;
        font-weight: 250;
        line-height: 18px;
        letter-spacing: 0px;
        text-align: left;
        }

    .faq-section-box-title{
        background: #f8f8f1;
        padding: 10px;
        margin: 5px 0;
        display: inline-grid;
        text-align: center;
        width: 100%;
        font-weight: bold;

    }

    .faq-section-box-text{
        background: #f8f8f1;
        padding: 10px;
        margin: 10px 0;
        display: inline-grid;
        text-align: left;
        width: 100%;

    }

 

    .section-box{
        background: #f8f8f1;
        padding: 10px;
        margin: 10px 0;
        display: inline-grid;
        text-align: center;

    }

    /*general for all carousels*/
    .carousel-inner{
        position: relative;
        width: 100%;
        overflow: visible;
        
    }

    #cardCarousel{
        max-width: 100%;
    }

    .carousel-control-next-icon, .carousel-control-prev-icon{
        background-color: #394063;
    }
    /* Call to action buttons */
    .cta-blue{
        background-color:#329DB8;
        color:#f8f8f1; 
        border:none;
        border-radius: 50px;
        width: 100%;
        padding: 10px;
        margin: 5px;
    }

    .cta-white{
        background-color:#f8f8f1; ;
        color:#329DB8;
        border:#329DB8 solid 1px;
        border-radius: 50px;
        width: 100%;
        padding: 10px; 
        margin: 5px; 
    }

    .button{
        display: block;
        text-align: center;
    }
    
    .contact-us{
        display: grid;
        text-align: center;
    }

    .card{
        padding:inherit;
        margin:1px;
        border-radius:20px;
    }

    .card-body{
        padding: 5px;;
    
    }

    .card-title{
        font-size: 9px;
        text-align: center;
        line-height: 1.5;
    }

    /*creates border in main element*/
    main{
        margin : 10px;
    }

    /*Our Customer H2 element - places element in middle of screen*/
    .our-customer-header{
        text-align: center;
    }

    /* Our Customer Container - creates margin between Our Customer H2 element and CTA buttons */
    .our-customer-container{
        margin: 5px 0 5px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .center-text{
        text-align: center;
    }

    .icons{
    height:50px
    }

    .content-column{
        display: flex; 
        flex-direction: column;
    }

    .hide-container{
        display: none;
    }

    .width-control{
        width:100%
    }
    /* removes blue links under a tag */
    a {
        color: inherit; 
        text-decoration: none; 
    }

    a:hover {

        text-decoration: none;
        color: inherit;
    }

    .center-text #label-contact-us {
        text-align: left;
    }

    .contact-us-row{
        display: flex !important;
        text-align: center;
    }

/* Navbar */
    .navbar-brand{
        font-family: "Permanent Marker", cursive;
        font-size: xx-large;
        color:#EEEEDF;
    }
    
    /*applies linear gradient top to bottom - credit https://www.w3schools.com/css/tryit.asp?filename=trycss3_gradient-linear*/
    .navbar-background-color{
        background:linear-gradient(#39406370, #39406300);
    } 

    .fa-bars{
        color:#EEEEDF;
        font-size: 25px;
    }

    /*Hides .top-image-blurred-square when navbar-toggle is clicked */
    /*see local business page for full explain within javascript section*/
    .top-image-blurred-square.hidden {
        display: none;
    }

    .nav-link-text{
        color: #394063;
        background: #eeeedfe0;
        border: #394063;
        text-align: center;
        padding: 5px;
        margin: 5px;
    }


/* Header */

/* Footer */

    .footer{
        text-align: center;
    }

    .footer .footer-text{
        color: rgb(57, 64, 99, 0.6);
        text-align: center;
    }

    .social-icons .black-social{
        color: black;
    }

/* Index Page */

    .index-main{
        text-align: center;
    }

    .index-main .index-main-audience{
        padding: 20px 0 20px 0;
    }

    .tell-us-main{
        text-align: left;
        font-size: 5vh;
        margin: 10px;
    }

    .navbar-background-color-index{
        background: #EEEEDF;
    
    }

    .navbar-brand-index{
        font-family: "Permanent Marker", cursive;
        font-size: xx-large;
        color:rgb(57, 64, 99);
    }

    padding-index-p{
        padding-top: 5px;
    }

    .index-customer-toggle .fa-bars{
        color:rgb(57, 64, 99);
        font-size: 25px;
    }

/* Local Businesses Page */
    .top-section {
        position: relative;
    }
    /*credit stack for solution - https://stackoverflow.com/questions/21374534/css-background-image-not-loading*/
    .bg-img-local-business{
        background-image: url(../assets/images/local_business/main_image/business-image-main-under-500px-compressed.webp);
        width: 100%;
        height: 200px;
    }

    /* credit https://dev.to/schleidens/how-to-use-blur-background-header-image-with-text-mask-a6a for blurred image*/
    .top-image-blurred-square{
        position: absolute;
        bottom: 0;
        width: 90%;
        height: 60%;
        background: rgb(255, 255, 255, 0.61);
        border-radius: 20px;
        margin: 5px;
        padding: 5px;


    }

    .top-section-text {
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 300;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;

    }

    .top-section-cta{
        display: contents;

    }

    .top-section-cta-row{
        display: inline-flex;
    }

    .cta-blue-top-section{
        background-color:#329DB8;
        color:#f8f8f1; 
        border:none;
        border-radius: 50px;
        width: 100%;
        padding: 10px;
        margin: 2px;
        font-size: 11px;
    }

    .cta-white-top-section{
        background-color:#f8f8f1; ;
        color:#329DB8;
        border:#329DB8 solid 1px;
        border-radius: 50px;
        width: 100%;
        padding: 10px;
        margin: 2px;
        font-size: 11px;
    }


/* Public Sector Page */

    /*credit stack for solution - https://stackoverflow.com/questions/21374534/css-background-image-not-loading*/
    .bg-img-public-sector{
        background-image: url(../assets/images/public_sector/main_image/Public-Sector-Image-under-500px.webp);
        width: 100%;
        height:25vh;
        background-position: center;
        background-size: cover;
        overflow: hidden;
    }

/*Contact us*/
    .width-control-form{
        width:75%
    }

    

/* Media Queries */
    /*main images queries 387, 900 up to 2192px
   /* Media Query for responsiveness when screen size is over 900px up to 2192px - which is the navbar image size*/
   /*from this the navbar image height works out as a percenatge of the users' screen*/
    /*credits - https://stackoverflow.com/questions/26218954/crop-image-in-css */

     @media only screen and (min-width: 2192px) {
        /*changes image in .bg-img-local-business to fit larger screens*/
        
        .bg-img-local-business{
        background-image: url(../assets/images/local_business/main_image/business-image-main-over-500px-compressed.webp);
        width: 100%;
        height:25vh;
        background-position: center;
        background-size: cover;
        ;
        }

        .our-customer-container{
            width:50%;
        }
              /* Override height and top properties to move blurred squared up */
        .top-image-blurred-square {
            height: 35%;
            top: 60%; 
            display:grid;
            width: 50%;
        }

        .section-box{
            margin: 10px;
            display: flow;
        }
        /*Displays/hides CTA buttons based on screen size*/
        .hide-container{
            display: grid;
            
        }

        .hide-button{
            display:none;
        }
        .width-control{
            width:50%
        }

        .navbar-brand{
            font-size: xxx-large;
        }

        .navbar-background-color{
            background: linear-gradient(#39406370, #39406300);
        }
    }



    @media only screen and (min-width: 991px) and (max-width:2192px)  {
        /*changes image in .bg-img-local-business to fit larger screens*/
        .bg-img-local-business{
            width: 100%;
            height:50vh;
            background-position: center;
            background-size: cover;
            ;
        }

        .bg-img-public-sector{
            width: 100%;
            height:50vh;
            background-position: center;
            background-size: cover;
        }

        .our-customer-container{
            width:50%;
        }
              /* Override height and top properties to move blurred squared up */
        .top-image-blurred-square {
            height: 35%;
            top: 60%; 
            display:grid;
            width: 50%;
        }

        .section-box{
            margin: 10px;
            display: flow;
        }
        /*Displays/hides CTA buttons based on screen size*/
        .hide-container{
            display: grid;
            
        }

        .hide-button{
            display:none;
        }
        .width-control{
            width:50%
        }

        .navbar-brand{
            font-size: xxx-large;
        }

        .navbar-background-color{
            background: linear-gradient(#39406370, #39406300);
        }
    }

    @media only screen and (min-width: 769px) and (max-width:991px) {
        /*changes image in .bg-img-local-business to fit larger screens*/
        .bg-img-local-business{
            width: 100%;
            height:50vh;
            background-position: center;
            background-size: cover;
        }

        .bg-img-public-sector{
            width: 100%;
            height:50vh;
            background-position: center;
            background-size: cover;
        }

        .our-customer-container{
            width:75%;
        }
              /* Override height and top properties to move blurred squared up */
        .top-image-blurred-square {
            height: 45%;
            top: 40%; 
            display:grid;
        }

        .section-box{
            margin: 10px;
            display: flow;
        }
        /*Displays/hides CTA buttons based on screen size*/
        .hide-container{
            display: grid;
            
        }

        .hide-button{
            display:none;
        }

        .width-control{
            width:75%
        }

    }
    /*media query specific to improve lighthouse scoring for mobile*/
    /*changes picture from 500px */
    @media only screen and (min-width: 500px){
        /*changes image in .bg-img-local-business to fit larger screens*/
        .bg-img-local-business{
            background-image: url(../assets/images/local_business/main_image/business-image-main-over-500px-compressed.webp);
        }  
         
        .bg-img-public-sector{
            background-image: url(../assets/images/public_sector/main_image/Public-Sector-Image-over-500px.webp);
        } 
    
    
    }
    
    /* Media Query for responsiveness when screen size is over 387px*/
    /*credits - https://stackoverflow.com/questions/26218954/crop-image-in-css */
    /*Known problem - if screen size is between >899 and <900 the image will show on repeat*/
    /*However screen dont do fraction of pixel. This inconsistency is considered acceptable*/
    @media only screen and (min-width: 387px) and (max-width:769px) {
        .bg-img-local-business{
            height:30vh;
            background-position: bottom;
            background-size: cover;
        }  
         
        .bg-img-public-sector{
            height:40vh;
            background-position: center;
            background-size: cover;
        } 
        
        /* Adjusts img elements to screen size in Index page when screen size is under 387px */
        .index-main-audience img {
            max-width: 100%;
            height: auto;
            
        }

        /* Overrides boostrap row from display "flex" to "grid". 
        When reducing screen size to 387px and below, columns within rows 
        started aligning to each other instead of stacking up */
        .row {
            display: grid;
        }

        /* Override display property for card-row within a .row */
        .row.card-row {
                display: inline-flex;
        }
        /* Override display property for row.top-section-cta-row within a .row */
        .row.top-section-cta-row{
        display: flex;
        }
        /* Override height and top properties to move blurred squared up */
        .top-image-blurred-square {
            height: 50%;
            top: 40%; 
        }

    }

    /* Media Query for responsiveness when screen size is 387px and under */
    @media only screen and (max-width: 387px) {
        /* Adjusts img elements to screen size in Index page when screen size is under 387px */
        .index-main-audience img {
            max-width: 100%;
            height: auto;
        }

        /* Overrides boostrap row from display "flex" to "grid". 
        When reducing screen size to 387px and below, columns within rows 
        started aligning to each other instead of stacking up */
        .row {
            display: grid;
        }

        /* Override display property for card-row within a .row */
        .row.card-row {
                display: inline-flex;
        }
        /* Override display property for row.top-section-cta-row within a .row */
        .row.top-section-cta-row{
        display: flex;
        font-size: 14px;
        }
        /* Override height and top properties to move blurred squared up */
        .top-image-blurred-square {
            height: 45%;
            top: 40%; 
        }

        .bg-img-local-business{
        height:30vh;
        background-position: bottom;
        background-size: cover;
        }

        .bg-img-public-sector{
        height: 30vh;
        }

    }

   /* Media Query for responsiveness when screen size is between 320px and 330px */
    @media only screen and (max-width: 330px) {
        /* Adjusts img elements to screen size in Index page when screen size is between 320px and 330px */
        .top-image-blurred-square {
            height: 50%;
            top: 40%;
        }   
    }